/*default theme(light)*/
html {
  --primaryBackground: #FAFAFA;
  --primaryTextColor: #000000;
  --primaryCanvasBackgroundcolor: #FAFAFA;
}

/*dark theme*/
html[data-theme="dark"] {
  --primaryBackground: #778899;
  --primaryTextColor: #FAFAFA;
  --primaryCanvasBackgroundcolor: #becfe0;
}

body {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
}

canvas {
  background-color: var(--primaryCanvasBackgroundcolor);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}